{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ELIAS IA</title> 
        <meta name="description" content>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex">
        <!-- Choices.js-->
        <link rel="stylesheet" href="{% static 'css/admin/choices.min.css' %}">
        <!-- Google fonts - Muli-->
        <link rel="stylesheet" href="{% static 'css/admin/css.css' %}">
        <!-- theme stylesheet-->
        <link rel="stylesheet" href="{% static 'css/admin/style.default.premium.688adad1.css' %}" id="theme-stylesheet">
        <!-- Custom stylesheet - for your changes-->
        <link rel="stylesheet" href="{% static 'css/admin/custom.0a822280.css' %}">
        <!-- Favicon-->
        <link rel="shortcut icon" type="image/x-icon" href="{%static 'img/icono2.jpeg'%}" />
    </head>
    <body>
        <header class="header">
            <nav class="navbar navbar-expand-lg py-3 bg-dash-dark-2 border-bottom border-dash-dark-1 z-index-10">
                <div class="search-panel">
                    <div class="search-inner d-flex align-items-center justify-content-center">
                        <div class="close-btn d-flex align-items-center position-absolute top-0 end-0 me-4 mt-2 cursor-pointer">
                            <span>Close</span>
                            <svg class="svg-icon svg-icon-md svg-icon-heavy text-gray-700 mt-1">
                                <use xlink:href="#close-1"> </use>
                            </svg>
                        </div>
                        <div class="row w-100">
                            <div class="col-lg-8 mx-auto">
                                <form class="px-4" id="searchForm" action="#">
                                    <div class="input-group position-relative flex-column flex-lg-row flex-nowrap">
                                        <input class="form-control shadow-0 bg-none px-0 w-100" type="search" name="search" placeholder="What are you searching for...">
                                        <button class="btn btn-link text-gray-600 px-0 text-decoration-none fw-bold cursor-pointer text-center" type="submit">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid d-flex align-items-center justify-content-between py-1">
                    <div class="navbar-header d-flex align-items-center">
                        <a class="navbar-brand text-uppercase text-reset"
                            href="../../../../../../../../../../../../../../../">
                            <div class="brand-text brand-big">
                                <strong class="text-primary">ELIAS</strong>
                                <strong>IA</strong>
                            </div>
                            <div class="brand-text brand-sm">
                                <strong class="text-primary">E</strong>
                                <strong>IA</strong>
                            </div></a>
                        <button class="sidebar-toggle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </nav>
        </header>
        <div class="d-flex align-items-stretch">
            <!-- Sidebar Navigation-->
            <nav id="sidebar">
                <!-- Sidebar Header-->
                <div class="sidebar-header d-flex align-items-center justify-content-between p-4">
                    <div class="d-flex">
                        <div class="ms-3 title">
                            <h1 class="h5 mb-1">{{request.user.nombre}}</h1>
                            <p class="text-sm text-gray-700 mb-0 lh-1">{{request.user.username}}</p>
                            <p class="fs-6 fw-bold mb-1">UID: <span class="h6">{{request.user.UID}}</span></p>
                        </div>
                    </div>
                </div>
                <span class="text-uppercase text-gray-600 text-xs mx-3 px-2 heading mb-2">Main</span>
                <ul class="list-unstyled">
                    <li class="sidebar-item active">
                        <a class="sidebar-link" href="{% url 'panel' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                            </svg>
                            <span class="mx-1">Dashboard </span>
                        </a>
                    </li>

                    
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="#SecuDropdown" data-bs-toggle="collapse">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-shield-lock" viewBox="0 0 16 16">
                                <path d="M5.338 1.59a61 61 0 0 0-2.837.856.48.48 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.7 10.7 0 0 0 2.287 2.233c.346.244.652.42.893.533q.18.085.293.118a1 1 0 0 0 .101.025 1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56"/>
                                <path d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415"/>
                            </svg>
                            <span class="mx-1">Seguridad</span>
                        </a>                        
                        <ul class="collapse list-unstyled " id="SecuDropdown">
                            <li>
                                {% if request.user.action_verify %}
                                    <a class="sidebar-link" data-bs-toggle="modal" data-bs-target="#habilitar2fa">
                                        Deshabilitar 2FA
                                    </a>
                                {% else %}
                                    <a class="sidebar-link" data-bs-toggle="modal" data-bs-target="#habilitar2fa">
                                        Habilitar 2FA
                                    </a>
                                {% endif %}
                            </li>
                            <li>
                                <a class="sidebar-link" href="#" >
                                    Código antiphishing
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        {% if licencia_valida %}
                            <a class="sidebar-link" data-bs-toggle="modal" data-bs-target="#licencia_data">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-check" viewBox="0 0 16 16">
                                    <path d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                                    <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1"/>
                                </svg>
                                <span class="mx-1">Licencia</span>
                            </a>  
                        {% else %}
                            <a class="sidebar-link" data-bs-toggle="modal" data-bs-target="#no_licencia">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-check" viewBox="0 0 16 16">
                                    <path d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                                    <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1"/>
                                </svg>
                                <span class="mx-1">Licencia</span>
                            </a>
                        {% endif %}
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="../../../../../../../../../../logout/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
                                <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1"/>
                                <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117M11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5M4 1.934V15h6V1.077z"/>
                            </svg>
                            <span class="mx-1">Cerrar Sesión</span>
                        </a>                        
                    </li>

                </ul>
            </nav>
            <div class="page-content">
                <!-- Page Header-->
                {% block contenido %}
                {% endblock  %}
                <!-- Page Footer-->
                <footer
                    class="position-absolute bottom-0 bg-dash-dark-2 text-white text-center py-3 w-100 text-xs"
                    id="footer">
                    <div class="container-fluid text-center">
                        <p class="mb-0 text-dash-gray">
                            2024 &copy; Design by 
                            <a>WEBDITECH INTERNATIONAL COMPANY</a>.
                        </p>
                    </div>
                </footer>
            </div>
        </div>
    
        <!-- Modal -->
        <div class="modal fade" id="habilitar2fa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Habilitar la autenticación de dos factores (2FA)</h5>
                        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        
                        {% if request.user.email_verify %}
                            <form action="../../../../../../../../../../../../verificar_mail/1/" method="post">
                                <input type="hidden" name="location" value="index">
                                {% csrf_token %}
                                <p class="text-primary">
                                    Estás a punto de habilitar la autenticación de dos factores (2FA). 
                                </p>
                                <p class="text-primary">
                                    Se enviará un código de confirmación a tu correo electrónico {{request.user.email}}.
                                </p>
                                <p class="text-primary">
                                    Asegúrate de tener la aplicación Google Authenticator o una similar instalada.
                                </p>
                                <div class="col-lg">
                                    <label class="visually-hidden" for="inlineFormInputGroupUsername">Tocken</label>
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                                                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1"/>
                                            </svg>
                                        </div>
                                        <input class="form-control" id="inlineFormInputGroupUsername" type="text" placeholder="Tocken" name="tocken">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <script>
                                        function disableLink(event) {
                                            event.preventDefault(); // Evita la redirección inmediata
                                
                                            var link = document.getElementById("enviar-codigo");
                                            var originalText = link.innerHTML;
                                            var seconds = 30;
                                
                                            link.classList.add("disabled");
                                            link.setAttribute("aria-disabled", "true");
                                            link.style.pointerEvents = "none";
                                
                                            var interval = setInterval(function() {
                                                if (seconds > 0) {
                                                    link.innerHTML = "Reintentar en " + seconds + "s";
                                                    seconds--;
                                                } else {
                                                    clearInterval(interval);
                                                    link.innerHTML = originalText;
                                                    link.classList.remove("disabled");
                                                    link.removeAttribute("aria-disabled");
                                                    link.style.pointerEvents = "auto";
                                                }
                                            }, 1000);
                                
                                            // Redirige a la URL después de un pequeño retraso para permitir la deshabilitación
                                            setTimeout(function() {
                                                window.location.href = link.href;
                                            }, 100);
                                        }
                                    </script>
                                    <a id="enviar-codigo" type="button" class="btn btn-secondary" href="../../../../../../../../../../../../verificar_mail/1/" onclick="disableLink(event);">
                                        Enviar código
                                    </a>
                                    <button type="submit" class="btn btn-primary">Confirmar</button>
                                </div>
                            </form>
                        {% else %}
                            <p class="text-warning">No puede activar el 2FA mientras que no verifique el correo electrónico</p>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar</button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        
        {% if licencia_valida %}
            <div class="modal fade" id="licencia_data" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title fs-3" id="exampleModalLabel">Licencia del Software</h5>
                            <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="text-success fw-bold fs-4">Fecha de Vencimiento: <span class="fw-light">{{ request.user.licencia_vencimiento }}</span></p>

                            <p class="text-warning fs-4 fw-light">Asegúrate de renovar tu licencia antes de esta fecha para mantener acceso sin interrupciones.</p>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary"
                                data-bs-dismiss="modal">
                                Aceptar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="modal fade" id="no_licencia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">WARNING</h5>
                            <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="text-primary">
                                Aun no tiene licencia verificada
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary"
                                data-bs-dismiss="modal">
                                Aceptar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}


        <!-- JavaScript files-->
        <script src="{% static 'js/admin/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/admin/just-validate.min.js' %}"></script>
        <script src="{% static 'js/admin/Chart.min.js' %}"></script>
        <script src="{% static 'js/admin/choices.min.js' %}"></script>
        <script src="{% static 'js/admin/js-cookie.0d5f0e08.js' %}"> </script>
        <script src="{% static 'js/admin/demo.bbd40f0c.js' %}"> </script>
        <script>
            "use strict";
            document.addEventListener("DOMContentLoaded", function () {
                Chart.defaults.global.defaultFontColor = "#75787c";
                var r = !0;
                window.outerWidth < 576 && (r = !1);
                const a = document.getElementById("lineChart");
                new Chart(a, {
                    type: "line",
                    options: {
                        scales: {
                            xAxes: [{ display: !0, gridLines: { display: !1 } }],
                            yAxes: [
                                {
                                    ticks: { max: {{max_valor_prediccion}}, min: {{min_valor_prediccion}} },
                                    display: !0,
                                    gridLines: { display: !1 }
                                }
                            ]
                        },
                        legend: { display: r }
                    },
                    data: {
                        labels: [
                            {% for ds in dataset_predictions %}
                                {% if not ds is None %}
                                    {{ds.analisis}},
                                {% else %}
                                    0,
                                {% endif %}
                            {% endfor %}
                        ],
                        datasets: [
                            {
                                label: "Predicción",
                                fill: !0,
                                lineTension: 0.8,
                                backgroundColor: "transparent",
                                borderColor: "#864DD9",
                                pointBorderColor: "#864DD9",
                                pointHoverBackgroundColor: "#864DD9",
                                borderCapStyle: "butt",
                                borderDash: [],
                                borderDashOffset: 0,
                                borderJoinStyle: "miter",
                                borderWidth: 2,
                                pointBackgroundColor: "#fff",
                                pointBorderWidth:7,
                                pointHoverRadius: 7,
                                pointHoverBorderColor: "#fff",
                                pointHoverBorderWidth: 2,
                                pointRadius: 1,
                                pointHitRadius: 10,
                                data: [
                                    {% for ds in dataset_predictions %}
                                        {% if not ds is None %}
                                            {{ds.prediccion}},
                                        {% endif %} 
                                    {% endfor %} 
                                ],
                                spanGaps: !1
                            },
                            {
                                label: "Datos Reales",
                                fill: !0,
                                lineTension: 0.8,
                                backgroundColor: "transparent",
                                borderColor: "#EF8C99",
                                pointBorderColor: "#EF8C99",
                                pointHoverBackgroundColor: "#EF8C99",
                                borderCapStyle: "butt",
                                borderDash: [],
                                borderDashOffset: 0,
                                borderJoinStyle: "miter",
                                borderWidth: 2,
                                pointBackgroundColor: "#fff",
                                pointBorderWidth: 7,
                                pointHoverRadius: 7,
                                pointHoverBorderColor: "#fff",
                                pointHoverBorderWidth: 2,
                                pointRadius: 1,
                                pointHitRadius: 10,
                                data: [
                                    {% for ds in dataset_predictions %}
                                        {% if not ds is None and not ds.real is None %}
                                            {{ds.real}},
                                        {% endif %}
                                    {% endfor %}
                                ],
                                spanGaps: !1
                            }
                        ]
                    }
                });
            });
        </script>
        
        <!-- Notifications  -->
        <!-- Toast-->
        
        
        {% if request.user.email_verify == False %}
            <div class="toast-container position-fixed top-0 end-0 p-4">
                <div class="toast hide bg-dash-dark-1 text-white" role="alert"
                    aria-live="assertive" aria-atomic="true">
                    <div class="toast-header bg-dash-dark-1">
                        <strong class="me-auto text-warning">
                            WARNING
                        </strong>        
                        <button class="btn-close btn-close-white" type="button" 
                            data-bs-dismiss="toast" aria-label="Close">
                        </button>
                    </div>
                    <div class="toast-body text-warning">
                        La licencia no sera otorgada mientras que no verifique el correo electrónico.
                    </div>
                </div>
            </div>
        {% endif %}
            
        {% if Error or Success %}
            <div class="toast-container position-fixed top-0 end-0 p-4">
                <div class="toast hide bg-dash-dark-1 text-white" role="alert"
                    aria-live="assertive" aria-atomic="true">
                    <div class="toast-header bg-dash-dark-1">
                        {% if Error %}
                            <strong class="me-auto text-danger">
                                ERROR
                            </strong>        
                        {% elif Success %}
                            <strong class="me-auto text-success">
                                SUCCESS
                            </strong>
                        {% endif %}
                        <button class="btn-close btn-close-white" type="button" 
                            data-bs-dismiss="toast" aria-label="Close">
                        </button>
                    </div>
                    {% if Error %}
                        <div class="toast-body text-danger">
                            {{Error}}
                        </div>
                    {% elif Success %}
                        <div class="toast-body text-success">
                            {{Success}}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <script src="{% static 'js/admin/home-premium.82d409ff.js' %}">  </script>
        <!-- Main File-->
        <script src="{% static 'js/admin/front.df077648.js' %}"></script>
        <script>
            // ------------------------------------------------------- //
            //   Inject SVG Sprite - 
            //   see more here 
            //   https://css-tricks.com/ajaxing-svg-sprite/
            // ------------------------------------------------------ //
        </script>
        <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
        <link rel="stylesheet" href="{% static 'css/admin/all.css' %}"
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
            crossorigin="anonymous">
    </body>
</html>